/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.navbar-brand {
  font-family: "B Koodak";
}
nav {
  font-family: "b yekan";
}
.login-form {
  padding-top: 50px;
}
.hotel-view .hotel-image {
  max-width: 700px;
  max-height: 500px;
}
