{% extends 'base.html' %}
{% load bootstrap3 %}
{% load thumbnail %}

{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form action="" method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="panel panel-default">
                    <div class="row">

                        {% for hotelImage in hotel.hotelimage_set.all %}

                            <div class="col-sm-6 col-md-4">
                                <div class="thumbnail">
                                    <img src="{{ hotelImage.image|thumbnail_url:'avatar' }}"
                                         alt="{{ hotelImage.caption }}">

                                    <div class="caption">
                                        <h3>{{ hotelImage.caption }}</h3>

                                        <p>

                                        <form method="POST"
                                              action="{% url 'hotel_remove_image' pk=hotel.id images_pk=hotelImage.id %}">
                                            {% csrf_token %}
                                            {% buttons %}
                                                <button type="submit" class="btn btn-danger">
                                                        <span class="glyphicon glyphicon-minus-sign"
                                                              aria-hidden="true"/>
                                                    حذف
                                                </button>
                                            {% endbuttons %}
                                        </form>
                                        </p>
                                    </div>
                                </div>
                            </div>


                        {% endfor %}
                    </div>
                    <div class="panel-footer">
                        {% buttons %}
                            <a href="{% url 'hotel_add_image' pk=hotel.id %}" class="btn btn-success bt-lg">
                                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"/>
                                افزدون عکس
                            </a>
                        {% endbuttons %}
                    </div>
                </div>

                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        {% bootstrap_icon "star" %}
                        ارسال
                    </button>
                    <a href="{% url 'homepage' %}" class="btn btn-danger">
                        انصراف
                    </a>
                {% endbuttons %}
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}
