{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
    <div class="panel">

        <div class="panel-body panel-success">
            <div class="container">
                <div class="panel panel-info">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel-heading panel-info">
                                <div class="panel-title">
                                    جستجو بر اساس موقعیت
                                </div>
                            </div>
                            <div class="panel-body">
                                <form action="{% url "hotel_list" %}" method="get">
                                    {#                                                        {% csrf_token %}#}
                                    {% bootstrap_form location_form %}
                                    {% buttons %}
                                        <button type="submit" class="btn btn-primary">
                                            <span class="glyphicon glyphicon-search" aria-hidden="true"/>
                                            جستجو
                                        </button>
                                    {% endbuttons %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel-heading panel-info">
                                <div class="panel-title">
جستجو بر اساس نام هتل
                                </div>
                            </div>
                            <div class="panel-body">
                                <form action="{% url "hotel_list" %}" method="get">
                                    {#                                                        {% csrf_token %}#}
                                    {% bootstrap_form name_form %}
                                    {% buttons %}
                                        <button type="submit" class="btn btn-primary">
                                            <span class="glyphicon glyphicon-search" aria-hidden="true"/>
                                            جستجو
                                        </button>
                                    {% endbuttons %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel-heading panel-info">
                                <div class="panel-title">
                                    جستجو بر اساس رای کاربران
                                </div>
                            </div>
                            <div class="panel-body">
                                <form action="{% url "hotel_list" %}" method="get">
                                    {#                    {% csrf_token %}#}
                                    {% bootstrap_form vote_form %}
                                    {% buttons %}
                                        <button type="submit" class="btn btn-primary">
                                            <span class="glyphicon glyphicon-search" aria-hidden="true"/>
                                            جستجو
                                        </button>
                                    {% endbuttons %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}