{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                جستجو بر اساس موقعیت
                <form action="{% url "hotel_list" %}" method="get">
{#                    {% csrf_token %}#}
                    {% bootstrap_form location_form %}
                    {% bootstrap_button 'ثبت' %}
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                جستجو بر اساس نام شهر
                <form action="{% url "hotel_list" %}" method="get">
{#                    {% csrf_token %}#}
                    {% bootstrap_form name_form %}
                    {% bootstrap_button 'ثبت' %}
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                جستجو بر اساس رای کاربران
                <form action="{% url "hotel_list" %}" method="get">
{#                    {% csrf_token %}#}
                    {% bootstrap_form vote_form %}
                    {% bootstrap_button 'ثبت' %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}