{% extends 'base.html' %}
{% load bootstrap3 %}
{% load thumbnail %}


{% block content %}
    <div style="padding-top: 30px">
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    لیست هتل‌ها
                </div>
                <table class="table">
                    <p>

                    </p>

                    {% for hotel in object_list %}
                        <div class="row">
                            <div class="col-md-1">

                            </div>
                            <div class="col-md-3 thumbnail">
                                <img class="hotel-image" src="{{ hotel.main_image |thumbnail_url:'avatar' }}">
                            </div>
                            <div class="col-md-3 text-info ">
                                {{ hotel.name }}
                                {% for s in hotel.get_stars_display %}
                                    <img src="http://www.eghamat24.com/images/com/ic_staron.png">
                                {% endfor %}
                                <br/>
                                <br/>
                                <br/>
                                {{ hotel.city }}
                                <br/>
                                <br/>
                                {{ hotel.address }}
                            </div>
                            <div class="col-md-5 text-center">
                                {% buttons %}
                                    <a href="{% url 'hotel_view' pk=hotel.id %}" class="btn {% if hotel.is_approved %} btn-success {% else %} btn-danger {% endif %} bt-lg">
                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"/>
                                        مشاهده‌ی جزییات
                                    </a>
                                    <br>
                                    {% if not hotel.is_approved %}
                                        <a class="alert-danger">
                                        توجه: هتل تایید نشده است
                                    {% endif %}
                                </a>
                                    <br>
                                    {% if hotel.has_edit_permission %}
                                    <a href="{% url 'hotel_edit' pk=hotel.id %}" class="btn btn-primary" style="margin-top: 15px;">
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true"/>
                                            ویرایش

                                        </a>
                                    {% endif %}
                                {% endbuttons %}
                            </div>
                            <div class="col-md-1">

                            </div>
                        </div>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>
{% endblock %}
