{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
    <div class="container hotel-view" style="padding-top: 30px">
        <div class="row">
            <div class="col-md-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ hotel.name }}</h3>
                    </div>
                    <div class="panel-body">
                        <img class="hotel-image" src="{{ MEDIA_URL }}{{ hotel.hotelimage_set.first.image }}">
                        <ul>
                            {{ hotel.id }}
                        </ul>
                        <ul>
                            {{ hotel.address }}
                        </ul>
                        <ul>
                            {% for roomClass in hotel.roomclass_set.all %}
                                <li>{{ roomClass.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                {% for vote in hotel.vote_set.all %}
                    {{ vote.comment }}
                    {{ vote.start }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
