{% load bootstrap3 %}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                سامانه سیمرغ
            </a>
        </div>
        <div class="nav navbar-nav">
            <li class="active">
                <a href="{% url 'hotel_search' %}">
                    جستجوی هتل
                </a>
            </li>
            {% if user.is_authenticated %}
                <li class="active">
                    <a href="{% url 'accounts_edit' %}">
                        ویرایش حساب کاربری
                    </a>
                </li>
                <li class="active">
                    <a href="{% url 'logout' %}">
                        خروج
                    </a>
                </li>
            {% else %}
                <li class="active">
                    <a href="{% url 'login' %}">
                        ورود
                    </a>
                </li>
                <li class="active">
                    <a href="{% url 'register' %}">
                        ثبت نام
                    </a>
                </li>

            {% endif %}
        </div>
        <!--/.navbar-collapse -->
    </div>
</nav>
